<h1><%= @article.title %></h1>
<p>Tags:
 <% @article.tags.each do |tag| %>
 	<%= link_to tag.name, tag_path(tag) %>
 <% end %>
 	</p>
<p><%= @article.body %></p>

<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %><br>

<%= link_to "edit", edit_article_path(@article)%><br>

<h4> Comments</h4>
<%= render partial: 'articles/comment', collection: @article.comments %>

<div id="comments">
	<% @article.comments.each do |comment|  %>
	<div class='comment'>
	<p>
		<em><%= comment.author_name %></em>
		said <%= distance_of_time_in_words(@article.created_at, comment.created_at) %>
		later:
	</p>
	<p><%= comment.body %></p>
		
	</div>
	<% end %>
</div>
<h3>Post a Comment</h3>
<%=  form_for(@article.comments.new) do |f| %>
	<p>
		<%= f.label :author_name, "Author Name" %><br>
		<%= f.text_field :author_name %>
	</p>
	<p>
		<%= f.label :body, "Comment" %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit "Submit", :disable_with => 'Submiting...' %>
	</p>

	<% end %>

	
</div>
<%= link_to "<< Back to Articles List", articles_path %>